{
  "presets": [
    ["@babel/preset-env", {
      "targets": "> 0.25%, not dead"
    }],
    "@babel/preset-react"
  ],
  "plugins" : [
    ["@babel/plugin-transform-typescript", {
      "isTSX" : true,
      "strictMode" : false
    }],
    "@babel/plugin-transform-modules-commonjs",
  ]
}
