/* logo */
.logoContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  height: 40px;
}
.logoImage {
  width : auto;
  height : 100%;
  border-radius : 2px;
}

.logoTitle {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}
